@charset "UTF-8";
.cbot-dialog, .cbot-dialog-button .title {
    font-family: Arial, Helvetica, sans-serif;
}

.cbot-alert-welcome-message {
    display: none;
}

.cbot-chat .avatar img, .cbot-chat .day, .cbot-dialog-head, .cbot-msg img, .cbot-msg time {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.cbot-dialog, .cbot-remove {
    display: none
}

.cbot-remove {
    right: 50px;
    top: 22px;
    height: 24px;
    line-height: 24px;
}

.cbot-dialog {
    background-color: #fff;
    position: fixed;
    bottom: 85px;
    right: 20px;
    width: 350px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    z-index: 999999999;
    font-size: 14px;
    color: #333;
    overflow: hidden
}

.cbot-dialog a {
    text-decoration: none
}

.cbot-help-icon {
    padding: 5px 9px;
    color: #042f67;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
    border-radius: 20px;
    background: #fff;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
}

.cbot-help-icon:hover {
    color: #fff;
    background: #042f67
}

.cbot-dialog-button, .cbot-dialog-icon {
    position: fixed;
    background: linear-gradient(to bottom right, #2754b9, #00326c);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 99999999999999
}

.cbot-dialog-icon {
    bottom: 10px;
    right: 0;
    width: 300px;
    height: 150px;
    background-size: contain
}

.cbot-help {
    width: 100%;
    height: 100%;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
    background-color: #eee;
    color: #333;
    word-break: break-word;
}

.cbot-help #calculate-exchange-icon {
    left: 0;
    width: 32px;
    background: url(/img/cbot-help-icons.png)!important
}

.cbot-help #banking-icon {
    left: 32px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -32px 0!important
}

.cbot-help #tl-icon {
    left: 64px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -64px 0!important
}

.cbot-help #credit-card-icon {
    left: 96px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -96px 0!important
}

.cbot-help #atm-icon {
    left: 128px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -128px 0!important
}

.cbot-help #digital-banking-icon {
    left: 224px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -224px 0!important
}

.cbot-help #calculate-credit-icon {
    left: 160px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -160px 0!important
}

.cbot-help #deposit-icon {
    left: 192px;
    width: 32px;
    background: url(/img/cbot-help-icons.png) -192px 0!important
}

.cbot-dialog-button {
    bottom: 10px;
    right: -270px;
    width: 270px;
    height: 100px;
    background-size: contain;
    z-index: w
}

.cbot-dialog-button .icon {
    width: 61px;
    height: 66px;
    margin-top: 20px;
    margin-left: 20px;
    float: left
}

.cbot-dialog-button .title {
    float: left;
    width: 150px;
    height: 66px;
    margin-left: 15px;
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    position: relative
}

.cbot-dialog-button .button-area {
    position: absolute;
    bottom: 0;
    left: 0
}

.cbot-dialog-button .button-area .button {
    width: 55px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(to bottom right, #2754b9, #175daf);
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .42);
    transition: all .3s ease 0s
}

.cbot-dialog-button-title {
    position: fixed;
    bottom: 85px!important;
    right: 20px!important;
    font-size: 16px!important;
    color: #1F8CEB;
    font-family: Roboto!important;
    font-weight: bolder!important
}

.cbot-dialog-button-regular {
    height: 90px;
    width: 90px;
    /* position: fixed; */
    position: static;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 9999999999999999999999999999999
}

.cbot-animation-holder {
    bottom: 20px;
    right: 20px;
    position: fixed;
    display: block;
    z-index: 9999999999999999999999999999999
}

.cbot-dialog-button-close {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    /* background: url(/img/cbot-close-icon.png) center no-repeat #00326c!important; */
    background: url(/img/cbot-close-icon.png) center no-repeat;
    z-index: 99999999
}

.cbot-dialog-head {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    line-height: 60px;
    z-index: 100;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px #ccc;
    background: linear-gradient(to bottom right, #2754b9, #00326c)
}

.cbot-dialog-head .cbot-avatar, .cbot-dialog-head .cbot-avatar img {
    width: 41px;
    height: 43px
}

.cbot-dialog-head .cbot-avatar {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 10px
}

.cbot-dialog-head .cbot-avatar img {
    vertical-align: super!important
}

.cbot-survey {
    text-align: center;
    background-color: #4463da;
    padding: 10px;
    border-radius: 100px;
    width: 290px;
    height: 100px;
    display: none;
    position: absolute!important;
    top: 40%;
    left: 25px;
    opacity: 0;
    z-index: 9999999!important;
    color: #fff;
    font-size: 16px
}

.cbot-survey-text {
    margin-top: 15px;
    width: 100%
}

.cbot-clearfix {
    clear: both;
}

input::-ms-clear {
    display: none
}

.cbot-back, .cbot-back img, .cbot-last, .cbot-name {
    position: absolute
}

.cbot-back {
    width: 90px;
    height: 50px;
    top: 13%;
    left: 0;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer
}

.cbot-back img {
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .98);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px
}

.cbot-back:active {
    background: rgba(255, 255, 255, .2)
}

.cbot-chat .avatar, .cbot-chat .avatar img {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .9)
}

.cbot-name {
    top: 25%;
    left: 90px;
    font-size: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, .98);
    cursor: default
}

.cbot-last {
    top: 30px;
    left: 115px;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
    cursor: default
}

.cbot-chat {
    /*  list-style-type: none; */
    padding: 15px 0;
    height: calc(100% - 190px);
    overflow: auto
}

.cbot-chat li.cbot-other {
    /* overflow: hidden; */
    display: flex
}

.cbot-chat li.cbot-self {
    overflow: hidden;
    display: flex
}

.cbot-chat .avatar {
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%
}

.cbot-chat .avatar img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%
}

.cbot-chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: silver;
    height: 20px;
    text-shadow: 7px 0 0 #e5e5e5, 6px 0 0 #e5e5e5, 5px 0 0 #e5e5e5, 4px 0 0 #e5e5e5, 3px 0 0 #e5e5e5, 2px 0 0 #e5e5e5, 1px 0 0 #e5e5e5, 1px 0 0 #e5e5e5, 0 0 0 #e5e5e5, -1px 0 0 #e5e5e5, -2px 0 0 #e5e5e5, -3px 0 0 #e5e5e5, -4px 0 0 #e5e5e5, -5px 0 0 #e5e5e5, -6px 0 0 #e5e5e5, -7px 0 0 #e5e5e5;
    box-shadow: inset 20px 0 0 #e5e5e5, inset -20px 0 0 #e5e5e5, inset 0 -2px 0 #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default
}

.cbot-other:before, .cbot-self .avatar:after {
    content: "";
    width: 0;
    height: 0;
    position: relative;
    right: 0
}

.cbot-other .msg {
    order: 1;
    border-top-left-radius: 0;
    box-shadow: -1px 2px 0 #D4D4D4
}

.cbot-other:before {
    top: 0;
    left: 40px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent
}

.cbot-other .cbot-msg {
    border-top-left-radius: 0;
    background: #f4f7f9
}

.cbot-self {
    justify-content: flex-end;
    align-items: flex-end
}

.cbot-self .cbot-msg {
    border-top-right-radius: 0;
    margin-right: 10px;
    background: #e1e7f9
}

.cbot-self .msg {
    order: 1;
    border-bottom-right-radius: 0;
    box-shadow: 1px 2px 0 #D4D4D4
}

.cbot-self .avatar {
    order: 2
}

.cbot-self .avatar:after {
    display: inline-block;
    bottom: 19px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0 2px 0 #D4D4D4
}

.cbot-carousel-wrapper {
    overflow: hidden;
}

.cbot-msg {
    background: #f2f0ff;
    min-width: 50px;
    max-width: 280px;
    padding: 10px;
    border-radius: 16px;
    font-size: 14px;
    color: #666;
    /* overflow: hidden; */
    overflow: visible;
    position: relative;
    line-height: 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
    word-break: break-word;
}

.cbot-msg .cbot-arrow {
    position: absolute;
    /* top: 75px; */
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    line-height: 16px;
    color: #333;
    font-weight: 700;
    z-index: 99999;
    cursor: pointer;
    text-align: center
}

.cbot-msg img, .cbot-msg time {
    cursor: default
}

.cbot-arrow.left {
    left: 0;
    background: url(../img/left_arrow.png) center no-repeat;
    opacity: 0
}

.cbot-arrow.right {
    right: 0;
    background: url(../img/right_arrow.png) center no-repeat;
    opacity: 0
}

.cbot-msg p {
    font-size: 14px;
    margin: 0 0 .2rem;
    color: #777
}

.cbot-msg img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px #eee;
    transition: all .4s cubic-bezier(.565, -.26, .255, 1.41)
}

.cbot-msg time {
    font-size: .7rem;
    color: #ccc;
    margin-top: 3px;
    float: right
}

.cbot-msg time:before {
    content: "\f017";
    color: #ddd;
    display: inline-block;
    margin-right: 4px
}

.cbot-form-message-area {
    width: calc(100% - 20px);
    height: 40px;
    background: #fff!important;
    /* position: absolute; */
    /* bottom: 20px; */
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    overflow: hidden;
    z-index: 99;
    margin: 0 auto 0 10px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px;
}

#cbot-form-message {
    background: #fff;
    border: none;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #666;
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    resize: none;
    height: 30px;
    padding: 5px;
    outline: 0;
    width: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;
}

.cbot-doc-content:-webkit-scrollbar-track, .cbot-dropdown-content:-webkit-scrollbar-track, .cbot-survey-splash-content:-webkit-scrollbar-track, .cbot-survey-splash-textarea:-webkit-scrollbar-track, .cbot-terms-of-use-content:-webkit-scrollbar-track, .cbot-suggestion-dropdown:-webkit-scrollbar-track, .cbot-feedback-textarea:-webkit-scrollbar-track, .cbot-help-text:-webkit-scrollbar-track, #cbot-form-message:-webkit-scrollbar-track, .cbot-list-scrollable:-webkit-scrollbar-track, #cbot-chat::-webkit-scrollbar-track, .cbot-overlay-text::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: transparent;
    cursor: pointer;
}

.cbot-doc-content::-webkit-scrollbar, .cbot-dropdown-content::-webkit-scrollbar, .cbot-survey-splash-content::-webkit-scrollbar, .cbot-survey-splash-textarea::-webkit-scrollbar, .cbot-terms-of-use-content::-webkit-scrollbar, .cbot-suggestion-dropdown::-webkit-scrollbar, .cbot-feedback-textarea::-webkit-scrollbar, .cbot-help-text::-webkit-scrollbar, #cbot-form-message::-webkit-scrollbar, .cbot-list-scrollable::-webkit-scrollbar, #cbot-chat::-webkit-scrollbar, .cbot-overlay-text::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    cursor: pointer;
}

.cbot-doc-content::-webkit-scrollbar-thumb, .cbot-dropdown-content::-webkit-scrollbar-thumb, .cbot-survey-splash-content::-webkit-scrollbar-thumb, .cbot-survey-splash-textarea::-webkit-scrollbar-thumb, .cbot-terms-of-use-content::-webkit-scrollbar-thumb, .cbot-suggestion-dropdown::-webkit-scrollbar-thumb, .cbot-feedback-textarea::-webkit-scrollbar-thumb, .cbot-help-text::-webkit-scrollbar-thumb, #cbot-form-message::-webkit-scrollbar-thumb, .cbot-list-scrollable::-webkit-scrollbar-thumb, #cbot-chat::-webkit-scrollbar-thumb, .cbot-overlay-text::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 5px;
    cursor: pointer;
}

.cbot-terms-of-use-content ol {
    list-style: decimal !important;
}

.cbot-form-message-area .cbot-send-button {
    /* position: absolute; */
    cursor: pointer;
    background-color: #fff;
    width: 50px;
    height: 35px;
    top: 3px;
    right: 3px;
    z-index: 999;
    border: none;
    background: url(../img/cbot-send-icon.png) center center no-repeat;
    outline: none;
    float: right;
    background-size: 60% 80%;
    margin-top: -4px;
    margin-right: -9px;
}

/* .cbot-form-message-area .cbot-send-button:before {
    content: '';
    background-size: 25.6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
} */

@media screen and (max-width: 300px) {
    .cbot-triple-dot {
        display: none!important
    }
    #cbot-web-area {
        display: none !important;
    }
    .cbot-dialog, .cbot-remove {
        position: fixed;
        display: block
    }
    .cbot-dialog {
        background-color: #fff;
        border-radius: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999;
        font-size: 14px;
        color: #333
    }
    .cbot-remove {
        padding: 5px 7px;
        color: #fff;
        cursor: pointer;
        border-radius: 3px
    }
    .cbot-dialog-head {
        border-radius: 0;
        color: #fff;
        line-height: 60px;
        z-index: 0;
        padding: 5px 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 2px #ccc;
    }
    /* #cbot-form {
        margin-top: 30px
    } */
    .cbot-msg img {
        width: 200px
    }
    #cbot-form-message {
        font-size:16px;
    }
}

@media screen and (max-width: 450px) and (min-width: 301px) {
    #cbot-form-message {
        font-size:16px;
    }
    .cbot-triple-dot {
        display: none!important
    }
    #cbot-web-area {
        display: none !important;
    }
    .cbot-dialog, .cbot-remove {
        position: fixed;
        display: block
    }
    .cbot-dialog {
        background-color: #fff;
        border-radius: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999;
        font-size: 14px;
        color: #333
    }
    .cbot-remove {
        padding: 5px 7px;
        color: #fff;
        cursor: pointer;
        border-radius: 3px
    }
    .cbot-dialog-head {
        border-radius: 0;
        color: #fff;
        line-height: 60px;
        z-index: 0;
        padding: 5px 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 2px #ccc;
    }
    /* #cbot-form {
        margin-top: 30px
    } */
    .cbot-msg img {
        width: 200px
    }
}

@media screen and (max-width: 800px) and (min-width: 451px) {
    #cbot-form-message {
        font-size:16px;
    }
    .cbot-triple-dot {
        display: none !important
    }
    #cbot-web-area {
        display: none !important;
    }
    .cbot-dialog, .cbot-remove {
        position: fixed;
        display: block
    }
    .cbot-dialog {
        background-color: #fff;
        border-radius: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999;
        font-size: 14px;
        color: #333
    }
    .cbot-dialog-head {
        border-radius: 0;
        color: #fff;
        line-height: 60px;
        z-index: 0;
        padding: 5px 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        box-shadow: 0 2px 2px #ccc;
    }
    .cbot-msg {
        max-width: 280px;
    }
    .cbot-msg img {
        width: 300px
    }
    .cbot-remove {
        padding: 5px 7px;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
    }
}

.cbot-component.generic-template {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cbot-component.cbot-button-template {
    width: 100%;
}

.cbot-component .cbot-image {
    width: 100%;
    max-height: 240px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px
}

.cbot-component .cbot-image img {
    width: auto!important;
    max-width: 100%;
    max-height: 240px;
    margin: 0 auto
}

.generic-template .cbot-description {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.generic-template .cbot-buttons {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 10px
}

.generic-template .cbot-title {
    padding: 3px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.generic-template .cbot-subtitle {
    padding: 3px
}

.generic-template .cbot-buttons .cbot-button {
    line-height: 2;
    text-align: center;
    font-size: 12px!important;
    width: 100%;
    height: 30px;
    font-weight: 500;
    color: #4667d7;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    cursor: pointer;
    white-space: pre;
    overflow: hidden
}

.generic-template .cbot-buttons .cbot-button a {
    font-weight: 500;
    color: #4667d7;
    text-decoration: none
}

.generic-template .cbot-buttons .cbot-button:hover {
    color: #fff;
    background-color: #4667d7
}

.generic-template .cbot-buttons .cbot-button:disabled {
    color: #ccc;
    background-color: #fff;
    cursor: default;
}

.generic-template .cbot-buttons .cbot-button:hover a {
    color: #fff;
    text-decoration: none
}

/* BUTTON AREA */

.cbot-button-template .cbot-buttons {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.cbot-button-template .cbot-title {
    padding: 3px;
    font-weight: 700
}

.cbot-button-template .cbot-subtitle {
    padding: 3px
}

.cbot-button-template .cbot-buttons .cbot-button {
    line-height: 2;
    text-align: center;
    font-size: 12px!important;
    width: 100%;
    height: 30px;
    font-weight: 500;
    color: #4667d7;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    cursor: pointer;
    white-space: pre;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: 400;
}

.cbot-button-template .cbot-buttons .cbot-button a {
    font-weight: 500;
    color: #4667d7;
    text-decoration: none
}

.cbot-button-template .cbot-buttons .cbot-button:hover {
    color: #fff;
    background-color: #4667d7
}

.cbot-button-template .cbot-buttons .cbot-button:hover a {
    color: #fff;
    text-decoration: none
}

/* BUTTON AREA */

.cbot-component.list-template {
    width: 100%
}

.list-template .cbot-list-item {
    margin: 5px 0;
    border-top: 1px solid #e1e1e1
}

.cbot-list-item-description {
    float: left;
    padding: 5px
}

.cbot-list-item-title {
    font-weight: 700;
    font-size: 12px!important
}

.cbot-list-item-text {
    font-size: 12px!important;
    width: 170px;
    max-width: 100%
}

.cbot-list-item-image {
    width: 40px;
    height: 40px;
    float: right
}

.cbot-list-item-image img {
    width: 40px;
    height: 40px;
    margin-top: 5px
}

.cbot-list-item-button {
    padding: 3px 5px;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    float: left;
    margin-right: 3px;
    color: #337ab7;
    border: 1px solid #337ab7;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none
}

.cbot-typing-loader {
    margin: 8px 0 0;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    -webkit-animation: line 1s linear infinite alternate;
    -moz-animation: line 1s linear infinite alternate;
    animation: line 1s linear infinite alternate
}

.cbot-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px;
    user-select: none;
    /* If you want dots under the hoverable text */
}

/* cbot-tooltip text */

.cbot-tooltip .cbot-tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    width: calc(100% - 30px);
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 50%;
    /* left: 13%; */
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 90px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Show the cbot-tooltip text when you mouse over the cbot-tooltip container */

.cbot-tooltip:hover .cbot-tooltiptext {
    visibility: visible;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.cbot-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999999999999999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.cbot-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#cbot-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.cbot-modal-content, #cbot-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.cbot-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.cbot-modal-close:hover, .cbot-modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .cbot-triple-dot {
        display: none!important
    }
    #cbot-web-area {
        display: none !important;
    }
    .cbot-modal-content {
        width: 100%;
    }
}

@-webkit-keyframes line {
    0% {
        background-color: rgba(10, 110, 189, 1);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, .2), 24px 0 0 0 rgba(10, 110, 189, .2)
    }
    25% {
        background-color: rgba(10, 110, 189, .4);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, 2), 24px 0 0 0 rgba(10, 110, 189, .2)
    }
    75% {
        background-color: rgba(10, 110, 189, .4);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, .2), 24px 0 0 0 rgba(10, 110, 189, 2)
    }
}

@-moz-keyframes line {
    0% {
        background-color: rgba(10, 110, 189, 1);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, .2), 24px 0 0 0 rgba(10, 110, 189, .2)
    }
    25% {
        background-color: rgba(10, 110, 189, .4);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, 2), 24px 0 0 0 rgba(10, 110, 189, .2)
    }
    75% {
        background-color: rgba(10, 110, 189, .4);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, .2), 24px 0 0 0 rgba(10, 110, 189, 2)
    }
}

@keyframes line {
    0% {
        background-color: rgba(10, 110, 189, 1);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, .2), 24px 0 0 0 rgba(10, 110, 189, .2)
    }
    25% {
        background-color: rgba(10, 110, 189, .4);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, 2), 24px 0 0 0 rgba(10, 110, 189, .2)
    }
    75% {
        background-color: rgba(10, 110, 189, .4);
        box-shadow: 12px 0 0 0 rgba(10, 110, 189, .2), 24px 0 0 0 rgba(10, 110, 189, 2)
    }
}

.cbot-help-content {
    margin: 10px;
    display: block;
    height: calc(100% - 160px);
    overflow: overlay;
}

.cbot-feedback-area {
    margin-top: 7px;
}

.cbot-feedback-area .cbot-feedback-status {
    float: left;
}

.cbot-feedback-area .cbot-feedback-status-form {
    float: left;
}

.cbot-feedback-area .cbot-feedback-vote-button {
    width: 20px;
    height: 20px;
    border: 0;
    float: right;
    margin: 3px;
    padding: 0;
    cursor: pointer;
}

.cbot-vote-down-selectable {
    background: url(/img/positive-charges.png);
    background-size: 100% 100%;
    transform: scaleY(-1) scaleX(-1);
}

.cbot-vote-down-selectable:hover, .cbot-vote-down-selectable.cbot-vote-selected {
    filter: invert(25%) sepia(88%) saturate(7476%) hue-rotate(357deg) brightness(94%) contrast(120%);
}

.cbot-vote-up-selectable:hover, .cbot-vote-up-selectable.cbot-vote-selected {
    filter: invert(54%) sepia(94%) saturate(2321%) hue-rotate(81deg) brightness(118%) contrast(122%);
}

.cbot-vote-up-selectable, .cbot-vote-up {
    background: url(/img/positive-charges.png);
    background-size: 100% 100%;
}

.cbot-vote-up-selectable:hover {
    filter: invert(54%) sepia(94%) saturate(2321%) hue-rotate(81deg) brightness(118%) contrast(122%);
}

.cbot-feedback-vote-button:active, .cbot-feedback-vote-button:focus {
    outline: none;
}

.cbot-feedback-textarea {
    width: 100%;
    resize: none;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.cbot-feedback-textarea:focus {
    outline: none;
}

.cbot-feedback-form-send {
    margin-top: 5px;
    float: right;
}

.cbot-feedback-form-send::before {
    content: "Gönder";
}

@keyframes cbotBounceIn {
    0%, 2%, 6%, 10%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    4% {
        transform: translateY(-30px);
    }
    8% {
        transform: translateY(-15px);
    }
}

.cbot-bounce {
    animation: cbotBounceIn 10s infinite 2s;
}

.cbot-slide-right {
    right: -300px;
    animation: cbotSlideRight 1.5s forwards;
    animation-delay: 2s;
}

@keyframes cbotSlideRight {
    100% {
        right: 20px;
    }
}

.cbot-slide-left {
    left: -300px;
    animation: cbotSlideLeft 1.5s forwards;
    animation-delay: 2s;
}

@keyframes cbotSlideLeft {
    100% {
        left: 20px;
    }
}

.cbot-dialog-button-help-message {
    border-radius: 50px;
    width: 215px;
    position: absolute;
    bottom: 91px;
    right: 0px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    /* background: center no-repeat #e6267c !important; */
    z-index: 999999999;
    font-family: "Proxima", 'Tahoma';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border-radius: 15px;
    padding: 6px 12px;
}

.cbot-dialog-button-help-message:before {
    /* border: 5px solid #e6267c; */
    /* HAHAHAHA */
    content: '';
    position: absolute;
    bottom: -3px;
    right: 20px;
    transform: rotate(45deg);
}

.cbot-msg:hover .left, .cbot-msg:hover .right {
    opacity: 1;
    transition: .2s;
}

/* RATING AREA */

.cbot-rating-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.cbot-rating-input {
    display: none;
}

.cbot-rating-label {
    cursor: pointer;
    padding: 0 0px;
    font-size: 24px;
}

.cbot-rating-star {
    color: orange;
}

.cbot-rating-disabled .cbot-rating-star {
    color: #d57500;
}

.cbot-rating-input:checked~.cbot-rating-label .cbot-rating-star {
    color: #ddd;
}

.cbot-rating-group:hover .cbot-rating-label .cbot-rating-star {
    color: orange;
}

.cbot-rating-input:hover~.cbot-rating-label .cbot-rating-star {
    color: #ddd;
}

.cbot-icon-star {
    font-style: normal;
    pointer-events: none;
}

.cbot-icon-star::before {
    /* content: '☆' */
    content: '★'
}

.cbot-rating-disabled {
    pointer-events: none;
}

.cbot-dialog-end-survey {
    transform: translateY(calc(-100% - 15px));
    position: absolute;
    right: 15px;
    /* margin-top: -110px; */
    width: 200px;
    padding: 15px;
    /* border: 5px solid #006cb8; */
    border: 5px solid #000000;
    background: #000;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 9px;
    /* background: #88c343; */
    color: white;
    /* background: rgb(136,195,67); */
    /* background: linear-gradient(180deg, rgba(136, 195, 67, 1) 0%, rgba(0, 108, 184, 1) 100%); */
    display: none;
}

.cbot-dialog-end-survey>span {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.cbot-dialog-end-survey>button {
    background: transparent;
    border: 0;
    color: black !important;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    background: white;
    border-radius: 5px;
}

.cbot-dialog-end-survey>button:hover {
    color: #ccc;
}

.cbot-msg ol {
    padding-left: 15px;
}

.cbot-msg ul {
    padding-left: 15px;
}

#cbot-attachment-area {
    width: 40px;
    height: 40px;
    float: right;
    background: url(../img/attachment.png);
    background-size: 100% 100%;
    margin-top: -5px;
    margin-right: -5px;
    cursor: pointer;
}

#cbot-attachment-area img {
    display: block;
    width: 30%;
    margin: 20px auto;
}

#cbot-attachment-area span {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.cbot-attachment-container {
    display: none;
    width: 200px;
    height: 100px;
    background: white;
    position: fixed;
    transform: translateX(calc(-100% + 40px)) translateY(-100%);
    -ms-transform: translateX(-100%) translateX(40px) translateY(-100%);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    transition: .1s;
    opacity: 1;
    overflow: hidden;
    user-select: none;
}

.cbot-attachment-container .cbot-attachment-block {
    transition: 0;
    background: #fff;
}

.cbot-attachment-container .cbot-attachment-block:hover {
    transition: .1s;
    background: #ccc;
}

.cbot-attachment-container.active {
    /* display: block; */
    opacity: 1;
}

.cbot-attachment-image {
    width: 50%;
    /* background-image: url(../img/gallery.png); */
    /* background-size: 100% 100%; */
    height: 100%;
    float: left;
}

.cbot-attachment-location {
    width: 50%;
    /* background-image: url(../img/location-image.png); */
    /* background-size: 100% 100%; */
    height: 100%;
    float: left;
}

.cbot-attachment-video {
    width: 50%;
    /* background-image: url(../img/location-image.png); */
    /* background-size: 100% 100%; */
    height: 100%;
    float: left;
}

.cbot-attachment-file {
    width: 50%;
    /* background-image: url(../img/cbot-file-icon.png);
    background-size: 100% 100%; */
    height: 100%;
    float: left;
}

.cbot-suggestion-dropdown {
    background-color: #FFF;
    position: absolute;
    max-height: 140px;
    width: 100%;
    transform: translateY(-100%);
    overflow-x: auto;
}

.cbot-suggestion-dropdown ul {
    /* margin: 10px 0; */
    margin: 0;
    list-style: none;
    padding: 0;
}

.cbot-suggestion-dropdown ul li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 10px;
    user-select: none;
    cursor: pointer;
}

.cbot-suggestion-dropdown ul li:hover {
    background: #f1f1f1;
}

.cbot-flagged {
    background-color: #8a8a8a57;
}

.cbot-form-message-area .textarea::placeholder {
    color: #828282;
}

@media screen and (max-width:768px) {
    #cbot-form-message {
        font-size:16px;
    }
    .cbot-triple-dot {
        display: none!important
    }
    #cbot-web-area {
        display: none !important;
    }
    .cbot-survey-fadebg {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99998;
        background-color: #000;
        opacity: .3;
        display: none;
    }
}

#cbot-web-area {
    right: 0;
    position: fixed;
    transform: translate(-370px);
    width: 900px;
    height: 80%;
    display: none;
    opacity: 0;
}

.cbot-web-area-content {
    background: #f1f1f1;
    height: calc(100% - 70px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    overflow: hidden;
}

.cbot-web-area-header {
    height: 70px;
    background: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.cbot-web-area-content iframe {
    width: 100%;
    height: 100%;
}

.cbot-web-image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.cbot-web-image img {
    max-width: 100%;
    max-height: 100%;
}

.cbot-web-video {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    width: 100%;
}

.cbot-web-video iframe {
    width: 100%;
}

.cbot-web-video-container {
    height: 100%;
    width: 100%;
    background: black;
}

.cbot-web-video video {
    outline: none;
    max-width: 100%;
    max-height: 100%;
}

.cbot-web-close {
    background-image: url(/img/cbot-chevron-right.png);
    width: 25px;
    height: 25px;
    background-size: 60%;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cbot-web-reload {
    background-image: url(/img/cbot-reload-icon-16912.png);
    width: 25px;
    height: 25px;
    background-size: 60%;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: center;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cbot-doc-content {
    padding: 5px;
    box-sizing: content-box;
    overflow-y: scroll;
    height: calc(100% - 10px);
}

.cbot-doc-content img {
    max-width: 100%;
}

.cbot-triple-dot {
    background-image: url(/img/tripledot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    float: left;
    width: 15px;
    margin-right: 5px;
    margin-top: 17px;
    /* background: white; */
    background-color: white;
    border-radius: 5px;
}

.cbot-count-badge {
    background: red;
    color: #fff;
    width: 15px;
    height: 15px;
    float: right;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial;
    padding: 2px 1px 0px 1px;
    display: none;
    user-select: none;
}

.cbot-livechat-close {
    width: 100%;
    background: #bc1831;
    color: #fff;
    padding: 5px 0px;
    text-align: center;
    display: none;
    cursor: pointer;
}

.cbot-dialog-end-timer {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 63px;
    background: beige;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.cbot-dialog-end-timer span {
    font-weight: bold;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.cbot-dropdown-input {
    box-sizing: border-box;
    background-image: url(https://www.w3schools.com/howto/searchicon.png);
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 3px solid #82cbff;
    outline: none;
    background-color: #f4f7f9;
}

.cbot-dropdown-input:disabled {
    border-bottom-color: #ddd;
}

.cbot-dropdown-input:focus {
    /* outline: 3px solid #ddd; */
}

.cbot-dropdown {
    position: relative;
    display: inline-block;
}

.cbot-dropdown-content {
    display: none;
    position: absolute;
    bottom: 48px;
    background-color: #f6f6f6;
    min-width: 258px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 160px;
}

.cbot-dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    outline: none;
}

.cbot-dropdown-content button:hover {
    background-color: #ccc;
}

.cbot-dropdown a:hover {
    background-color: #ddd;
}

.cbot-terms-of-use {
    display: none;
}

.cbot-start-dialog {
    display: none;
}

.cbot-history-send-splash {
    display: none;
}

.cbot-survey-splash {
    display: none;
}

.cbot-survey-success-splash {
    display: none;
}

.cbot-no-survey-splash {
    display: none;
}

.cbot-start-2nd-step-dialog {
    display: none;
}

.cbot-start-dialog-2nd-step {
    display: none;
}

#cbot-end-chat {
    color: #FFF;
    padding: 5px 9px;
    /* color: #e84b36; */
    cursor: pointer;
    position: absolute;
    /* right: 15px; */
    /* top: 22px; */
    border-radius: 20px;
    user-select: none;
    /* background: #fff; */
    /* z-index: auto; */
    top: 0;
    right: 15px;
}

.cbot-attachment-file-input {
    display: none;
}

.cbot-data-banner-image-link {
    position: initial;
}

.cbot-loading-spinner {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #e84b36;
    width: 40px;
    height: 40px;
    margin: 20px auto 5px auto;
    -webkit-animation: spincbot 2s linear infinite;
    /* Safari */
    animation: spincbot 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spincbot {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spincbot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cbot-agent-title {
    color: #4884c1;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-indent: 40px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

/* COLORFUL SURVEY STYLING */

.cbot-colorful-radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    float: left;
}

.cbot-colorful-radio-container input {
    /* position: absolute;
    opacity: 0;
    cursor: pointer; */
    display: none;
}

.cbot-colorful-radio-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 0px 1px white inset;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    user-select: none;
}

.cbot-colorful-radio-container:hover input~.cbot-colorful-radio-span {
    background-color: #ccc;
    color: white;
}

.cbot-colorful-radio-container input:checked~.cbot-colorful-radio-span {
    background-color: #ccc;
    color: white
}

.cbot-colorful-radio-container-styling-0 span {
    border-color: #b75435;
    color: #b75435;
}

.cbot-colorful-radio-container-styling-0:hover input~.cbot-colorful-radio-span-styling-0, .cbot-colorful-radio-container-styling-0 input:checked~.cbot-colorful-radio-span-styling-0 {
    background-color: #b75435;
    color: white;
}

.cbot-colorful-radio-container-styling-1 span {
    border-color: #b75435;
    color: #b75435;
}

.cbot-colorful-radio-container-styling-1:hover input~.cbot-colorful-radio-span-styling-1, .cbot-colorful-radio-container-styling-1 input:checked~.cbot-colorful-radio-span-styling-1 {
    background-color: #b75435;
    color: white;
}

.cbot-colorful-radio-container-styling-2 span {
    border-color: #b75435;
    color: #b75435;
}

.cbot-colorful-radio-container-styling-2:hover input~.cbot-colorful-radio-span-styling-2, .cbot-colorful-radio-container-styling-2 input:checked~.cbot-colorful-radio-span-styling-2 {
    background-color: #b75435;
    color: white;
}

.cbot-colorful-radio-container-styling-3 span {
    border-color: #b75435;
    color: #b75435;
}

.cbot-colorful-radio-container-styling-3:hover input~.cbot-colorful-radio-span-styling-3, .cbot-colorful-radio-container-styling-3 input:checked~.cbot-colorful-radio-span-styling-3 {
    background-color: #b75435;
    color: white;
}

.cbot-colorful-radio-container-styling-4 span {
    border-color: #b75435;
    color: #b75435;
}

.cbot-colorful-radio-container-styling-4:hover input~.cbot-colorful-radio-span-styling-4, .cbot-colorful-radio-container-styling-4 input:checked~.cbot-colorful-radio-span-styling-4 {
    background-color: #b75435;
    color: white;
}

.cbot-colorful-radio-container-styling-5 span {
    border-color: #b95121;
    color: #b95121;
}

.cbot-colorful-radio-container-styling-5:hover input~.cbot-colorful-radio-span-styling-5, .cbot-colorful-radio-container-styling-5 input:checked~.cbot-colorful-radio-span-styling-5 {
    background-color: #b95121;
    color: white;
}

.cbot-colorful-radio-container-styling-6 span {
    border-color: #e49c40;
    color: #e49c40;
}

.cbot-colorful-radio-container-styling-6:hover input~.cbot-colorful-radio-span-styling-6, .cbot-colorful-radio-container-styling-6 input:checked~.cbot-colorful-radio-span-styling-6 {
    background-color: #e49c40;
    color: white;
}

.cbot-colorful-radio-container-styling-7 span {
    border-color: #d1c650;
    color: #d1c650;
}

.cbot-colorful-radio-container-styling-7:hover input~.cbot-colorful-radio-span-styling-7, .cbot-colorful-radio-container-styling-7 input:checked~.cbot-colorful-radio-span-styling-7 {
    background-color: #d1c650;
    color: white;
}

.cbot-colorful-radio-container-styling-8 span {
    border-color: #bbc730;
    color: #bbc730;
}

.cbot-colorful-radio-container-styling-8:hover input~.cbot-colorful-radio-span-styling-8, .cbot-colorful-radio-container-styling-8 input:checked~.cbot-colorful-radio-span-styling-8 {
    background-color: #bbc730;
    color: white;
}

.cbot-colorful-radio-container-styling-9 span {
    border-color: #82b652;
    color: #82b652;
}

.cbot-colorful-radio-container-styling-9:hover input~.cbot-colorful-radio-span-styling-9, .cbot-colorful-radio-container-styling-9 input:checked~.cbot-colorful-radio-span-styling-9 {
    background-color: #82b652;
    color: white;
}

.cbot-colorful-radio-container-styling-10 span {
    border-color: #6cba4c;
    color: #6cba4c;
}

.cbot-colorful-radio-container-styling-10:hover input~.cbot-colorful-radio-span-styling-10, .cbot-colorful-radio-container-styling-10 input:checked~.cbot-colorful-radio-span-styling-10 {
    background-color: #6cba4c;
    color: white;
}

.cbot-colorful-radio-main-container {
    height: 25px;
}